solutions/*/classes_gen/
solutions/*/source_gen/
solutions/*/source_gen.caches/
languages/*/classes_gen/
languages/*/source_gen/
languages/*/source_gen.caches/
languages/*/*/classes_gen
languages/*/*/source_gen/
languages/*/*/source_gen.caches/
tests/*/classes_gen/
tests/*/source_gen/
tests/*/source_gen.caches/
*.iws
*.o
build.properties
lib/out/*

classes_gen
source_gen
source_gen.caches

*/.DS_Store
